# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
cities = "cities.csv"
df = pd.read_csv(cities)
df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,Arlit,77,NE,1651970830,14,18.7369,7.3853,88.21,11.95
1,1,Progreso,0,MX,1651970830,85,21.2833,-89.6667,84.11,10.49
2,2,Ushuaia,20,AR,1651970638,49,-54.8000,-68.3000,47.86,16.11
3,3,Areosa,100,PT,1651970831,73,41.7178,-8.8571,59.70,3.94
4,4,Vestmannaeyjar,100,IS,1651970831,90,63.4427,-20.2734,45.79,24.23

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

locations = df[["Latitude", "Longitude"]]
humidity = df["Humidity"].astype(float)

heat_layer =gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False,max_intensity=100,
                                point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
ideal_temp = df.loc[(df['Max Temp']>=70) & (df['Max Temp']<=80)]

ideal_wind = ideal_temp.loc[(df['Wind Speed']<=10)]

ideal_clouds = ideal_wind.loc[(ideal_wind['Cloudiness']==0)]

ideal_weather = ideal_clouds.dropna()

ideal_weather.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
171,171,Laguna,0,US,1651970879,40,38.4210,-121.4238,75.49,7.00
206,206,Tura,0,IN,1651970913,67,25.5198,90.2201,78.15,1.23
252,252,Marrakesh,0,MA,1651970933,33,31.6315,-8.0083,73.47,1.14
275,275,Inhambane,0,MZ,1651970942,84,-23.8650,35.3833,70.34,4.74
283,283,ÅŒzu,0,JP,1651970946,58,33.5000,132.5500,71.19,6.20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
hotel_df = ideal_weather[["City", "Country", "Max Temp", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Latitude,Longitude,Hotel Name
171,Laguna,US,75.49,38.4210,-121.4238,
206,Tura,IN,78.15,25.5198,90.2201,
252,Marrakesh,MA,73.47,31.6315,-8.0083,
275,Inhambane,MZ,70.34,-23.8650,35.3833,
283,ÅŒzu,JP,71.19,33.5000,132.5500,
352,Mount Isa,AU,73.17,-20.7333,139.5000,
389,Santo AntÃ´nio do Leverger,BR,75.58,-15.8656,-56.0767,
410,Santa Cruz de Tenerife,ES,72.72,28.4682,-16.2546,
437,Barra do GarÃ§as,BR,72.09,-15.8900,-52.2567,
508,Barkhan,PK,75.78,29.8977,69.5256,
559,Mossamedes,AO,70.97,-15.1961,12.1522,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure